WcfService/WindowsFormsApplication1/Service References/ServiceSP/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSP">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSPResult" type="tns:ArrayOfSanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSanPham">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanPham">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaBan" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayCapNhat" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNSX" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSanPhamID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSanPhamIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSanPhamIDResult" type="tns:ArrayOfSanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSPResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSPSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSP" />
  </wsdl:message>
  <wsdl:message name="GetAllSPSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSPResponse" />
  </wsdl:message>
  <wsdl:message name="GetSanPhamIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetSanPhamID" />
  </wsdl:message>
  <wsdl:message name="GetSanPhamIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetSanPhamIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddSPSoapIn">
    <wsdl:part name="parameters" element="tns:AddSP" />
  </wsdl:message>
  <wsdl:message name="AddSPSoapOut">
    <wsdl:part name="parameters" element="tns:AddSPResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSP">
      <wsdl:input message="tns:GetAllSPSoapIn" />
      <wsdl:output message="tns:GetAllSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSanPhamID">
      <wsdl:input message="tns:GetSanPhamIDSoapIn" />
      <wsdl:output message="tns:GetSanPhamIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSP">
      <wsdl:input message="tns:AddSPSoapIn" />
      <wsdl:output message="tns:AddSPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSP">
      <soap:operation soapAction="http://tempuri.org/GetAllSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSanPhamID">
      <soap:operation soapAction="http://tempuri.org/GetSanPhamID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSP">
      <soap:operation soapAction="http://tempuri.org/AddSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSP">
      <soap12:operation soapAction="http://tempuri.org/GetAllSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSanPhamID">
      <soap12:operation soapAction="http://tempuri.org/GetSanPhamID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSP">
      <soap12:operation soapAction="http://tempuri.org/AddSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:54628/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:54628/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>